.stories-container{
    padding: 35px;
    padding-top: 160px;
}

.stories-heading{
    font-weight: 600;
}
.stories-description{

}

.engage-next-container{
    color: #000;
    background: #EFEFED;
}