.stories-container{
    padding: 160px 35px 35px;
}

.stories-heading{
    font-weight: 600;
}
.stories-description{

}

.engage-next-container{
    color: #000;
    background: #EFEFED;
}

.whitespace-container{
    display: block;
    position: relative;
    height: 300px;
    background-color: #fff;
}

.featured-derdu-text{
    font-size: 3rem;
}
.featured-projects-picture{
    width: 100%;
    mix-blend-mode: luminosity;
    margin: 0 !important;
}

@media screen and (max-width: 800px){
    .whitespace-container{
        display: none;
    }
    .featured-derdu-text{
        font-size: 2rem;
    }
}